*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: #EEF2F7;
}

.title01{
    position: relative;
    width: 90%;
    height: 100px;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
    margin: 40px auto;
}

.title01 p{
    width: 100%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing:20px;
    color: #777;
}

.box01{
    width: 80%;
    height: 520px;
    margin: 80px auto 110px;
}

.right-box01{
    margin-right: 30px;
    position: relative;
    width: 45%;
    height: 500px;
    float: right;
}

.right-box22{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
}

.right-box22 p{
    float: left;
    margin: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 120px;
    color: #585858;
}

.color-boxs{
    margin: 10px;
    overflow: hidden;
}

.color-box{
    float: left;
    margin: 15px;
    overflow: hidden;
     box-shadow: 4px 4px 10px #B2BCCA,
        -4px -4px 10px #fffffa;
/*    margin: 25px;*/
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

.boxbox01{
    float: left;
    width: 50%;
/*    float: left;*/
}

.red-box{
    background: #ff7171;
}

.blue-box{
    background: #40a8c4;
}

.green-box{
    background: #91d18b;
    float: left;
}


.boxbox02{
    width: 50%;
    float: left;
}

.red-box02{
    background: #d54062;
}

.blue-box02{
    background: #4e89ae;
}

.green-box02{
    background: #8fc0a9;
}

.left-box01{
    position: relative;
    width: 45%;
    height: 500px;
    margin-left: 30px;
    float: left;
}

.left-box11{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
}

.left-box02.fadein{
    width: 75%;
    height: 80px;
    background: #EEF2F7;
    border-radius: 40px;
    box-shadow: 4px 4px 10px #B2BCCA inset,
        -4px -4px 10px #fffffa inset;
    margin: 20px auto;
    transition: 0.5s;
}

.left-box02.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA inset,
        -8px -8px 10px #fffffa inset;
}

.left-box02 h1{
    color: #777;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing:30px;
    text-align: center;
    line-height: 80px;
}

.left-box11 p{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 50px;
    color: #585858;
    width: 75%;
}

.box02{
    position: relative;
    width: 80%;
    height: 400px;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
    margin: 0 auto;
}

.box02 .circle01{
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    border-radius: 50%;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
    margin-left: 20px;
    margin-top: 20px;
}

.box02 .circle01 h1{
    text-align: center;
    line-height: 80px;
    color: #777;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing:3px;
}

.ttt.fadein{
    float: left;
    width: 30%;
    height: 80px;
    background: #EEF2F7;
    border-radius: 40px;
    box-shadow: 4px 4px 10px #B2BCCA inset,
        -4px -4px 10px #fffffa inset;
    margin-top: 20px;
    margin-left: 140px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.ttt.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA inset,
        -8px -8px 10px #fffffa inset;
/*    transition: 0.5s;*/
}

.ttt p{
    color: #777;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 30px;
    text-align: center;
    line-height: 80px;
}

.box02-text01 p{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 50px;
    color: #585858;
    width: 75%;
}

.header-box01{
    margin: 0 auto;
    width: 90%;
    height: 50px;
    background: #EEF2F7;
    border-radius: 25px;
}

nav{
    width: 100%;
    height: 50px;
}

ul{
    padding: 20px 20px;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

nav li{
    width: 25%;
    list-style-type: none;
    float: left;
}
nav a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #585858;
    display: block;
    text-align: center;
    letter-spacing:10px;
    line-height: 50px;
}

.box03{
    width: 55%;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
}

.box03-01{
    position: relative;
    margin-top: 50px;
    width: 40%;
    height: 700px;
    float: left;
}

.box03-right-box01{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
}

.box03-02{
    margin-top: 450px;
    width: 40%;
    height: 700px;
    float: right;
}
.box03-right-box02{
    position: relative;
    width: 100%;
    height: 100%;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
}

.box03-right-box01 p{
    writing-mode:vertical-rl;
    position: absolute;
    top: 70%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 50px;
    color: #585858;
    width: 75%;
}

.box03-right-box02 p{
    position: absolute;
    top: 70%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 50px;
    color: #585858;
    width: 75%;
}

.box03-01 .circle02{
    top: 20px;
    left: 50%;
    transform:translate(-50% ,0%);
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
/*    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);*/
/*    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);*/
/*    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);*/
/*    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);*/
    background-image: linear-gradient(to bottom, #df89b5 0%, #bfd9fe 100%);
/*    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);*/
}

.try01{
    position: relative;
    margin: 0 auto;
}

.triangle{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 260px solid #d9bfeb;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    filter:drop-shadow(8px 8px 10px #B2BCCA);
    top: 50%;
    left: 50%;
    transform:translate(-70% ,10%);
}

.triangle2{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 260px solid #d9bfeb;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    filter:drop-shadow(-8px -8px 10px #fffffa);
    top: 50%;
    left: 50%;
    transform:translate(-70% ,10%);
}

.text-box01.fadein{
    margin: 100px auto 30px;
    position: relative;
    width: 30%;
    height: 80px;
    background: #EEF2F7;
    box-shadow: 4px 4px 10px #B2BCCA,
        -4px -4px 10px #fffffa;
    border-radius: 40px;
    transition: 0.5s;
}

.text-box01.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA,
        -8px -8px 10px #fffffa;
}

.text-box01 p{
    text-align: center;
    width: 100%;
    color: #777;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 30px;
    text-align: center;
    line-height: 80px;
}

.left-box09{
    position: relative;
    margin: 15px auto;
    width: 67.5%;
    height: 500px;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA inset, -8px -8px 10px #fffffa inset;
}

.ooo{
    width: 20%;
    float: left;
}

.kkk{
    width: 90%;
    padding: 15px 0px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA, -8px -8px 10px #fffffa;
}

.left-box09 p{
    writing-mode:vertical-rl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 50px;
    color: #585858;
    height: 75%;
}

.box04{
    position: relative;
    width: 70%;
    height: 480px;
    padding: 20px;
    margin: 70px auto;
    background: #EEF2F7;
    border-radius: 50px;
    box-shadow: 8px 8px 10px #B2BCCA, -8px -8px 10px #fffffa;
    margin-bottom: 300px;
}

.iii01{
    float: left;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    background: #FFF4F3;
    border-radius: 70px;
    box-shadow: 8px 8px 10px #B2BCCA, -8px -8px 10px #fffffa;
}

.test01{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-30%, -30%);
}

.test02{
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
    background: #FFECE9;
    border-radius: 500px;
}

.test03{
    width: 950px;
    height: 600px;
    border-radius: 500px;
    background: #FFE3DF;
}

.test04{
    width: 650px;
    height: 450px;
    background: #FDDFDB;
    border-radius: 500px;
}

.test05{
    width: 400px;
    height: 400px;
    background: #f9d4d1;
    border-radius: 500px;
}

.uuu01.fadein{
    float: left;
    width: 35%;
    height: 80px;
    background: #EEF2F7;
    border-radius: 40px;
    box-shadow: 4px 4px 10px #B2BCCA inset, -4px -4px 10px #fffffa inset;
    transition: 0.5s;
    margin-left: 50px;
}

.uuu01.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA inset, -8px -8px 10px #fffffa inset;
}

.uuu01 p{
    color: #777;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 30px;
    text-align: center;
    line-height: 80px;
}

.uuu02 p{
    font-size: 20px;
    position: absolute;
    top: 52%;
    left: 55%;
    transform: translate(-50% ,-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 50px;
    color: #585858;
    width: 75%;
}

.box03-01.fadein{
    opacity : 0;
    transform : translate(-200px, 0px);
    transition: transform 1s cubic-bezier(0,.51,.28,.99), opacity 1s cubic-bezier(0,.51,.28,.99);
    transition-delay : 0.5s;
}

.box03-01.fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.box03-right-box02.fadein{
    opacity : 0;
    transform : translate(200px, 0px);
    transition: transform 1s cubic-bezier(0,.51,.28,.99), opacity 1s cubic-bezier(0,.51,.28,.99);
    transition-delay : 0.5s;
}

.box03-right-box02.fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.bbb .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(0,.51,.28,.99), opacity 1s cubic-bezier(0,.51,.28,.99);
    transition-delay : 0s;
}

.bbb .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.ccc .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(.22,.01,.29,.99), opacity 1s cubic-bezier(.22,.01,.29,.99);
    transition-delay : 0s;
}

.ccc .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.eee .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(.53,0,.29,.99), opacity 1s cubic-bezier(.53,0,.29,.99);
    transition-delay : 0s;
}

.eee .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.fff .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(0,.51,.28,.99), opacity 1s cubic-bezier(0,.51,.28,.99);
    transition-delay : 0.1s;
}

.fff .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.ggg .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(.22,.01,.29,.99), opacity 1s cubic-bezier(.22,.01,.29,.99);
    transition-delay : 0.1s;
}

.ggg .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.hhh .fadein{
    opacity : 0;
    transform : translate(-50px, 0px);
    transition: transform 1s cubic-bezier(.53,0,.29,.99), opacity 1s cubic-bezier(.53,0,.29,.99);
    transition-delay : 0.1s;
}

.hhh .fadein.scrollin{
    opacity : 1;
    transform : translate(0, 0);
}

.iii01.fadein{
    box-shadow: 1px 1px 2px #B2BCCA,
        -1px -1px 2px #fffffa;
    transition: all 1s;
}

.iii01.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA, -8px -8px 10px #fffffa;
}

.circle01.fadein{
    box-shadow: 1px 1px 2px #B2BCCA,
        -1px -1px 2px #fffffa;
    transition: all 1s;
    transition-delay: 0.4s;
}

.circle01.fadein.scrollin{
    box-shadow: 8px 8px 10px #B2BCCA, -8px -8px 10px #fffffa;
}

.header-box01.fadein{
    box-shadow: 0px 0px 0px #B2BCCA,
        -0px -0px 0px #fffffa;
    transition: 0.3s;
}

.header-box01.fadein.scrollin{
    box-shadow: 5px 5px 10px #B2BCCA,
        -5px -5px 10px #fffffa;
}

.header-box01.fadein.scrollin:hover{
    box-shadow: 3px 3px 5px #B2BCCA,
        -3px -3px 5px #fffffa;
}
